footer {
    .up {
        height: 15.5vh;
        background-color: #2f2e2e;
        font-size: 35px;
        font-weight: 400;
        a {
            color: #ffffff;
            text-decoration: none;
            transition: .5s all;
            &:hover {
                color: $main-color;
                font-size: 40px;
            }
        }
    }
    .down {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        background-color: $main-color;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        span {
            color: #0f91b1;
            margin: 0 3px;
        }
    }
}