header {
    .navigation {
        position: relative;
        &__header {
            padding-top: 28px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            z-index: 10;
        }
        &__menu {
            list-style: none;
            li {
                display: inline;
                margin-right: 2.5vw;
                a {
                    text-decoration: none;
                    font-size: calcFluidFontSize(12, 16, 300, 1440);
                    line-height: 1.2;
                    font-weight: 400;
                    color: $white;
                }
            }
        }
    }
    .logo {
        width: 5vw;
    }
    
}