.headline {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 90px;
    &__info {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-title {
            color: $main-color;
            font-size: calcFluidFontSize(22, 30, 300, 1440);
            font-weight: 900;
            text-transform: uppercase;
            span {
                color: $orange;
            }
            &_white {
                span {
                    color: $white;
                }
            }
        }
        &-slogan {
            color: $headLineText;
            font-size: calcFluidFontSize(14, 18, 300, 1440);
            font-weight: 400;
            width: 192px;
            &_white {
                color: $white;
            }
        }
    }
    &__lines {
        position: absolute;
        left: 26%;
        &-item {
            border: none;
            margin: 0;
            transform: rotate(20deg);
            height: 120px;
            width: 1px;
            background-color: rgba($main-color, 1);
            &:nth-child(1) {
                position: absolute;
                top: -12px;
            }
            &:nth-child(2) {
                background-color: rgba($orange, 1);
            }
            &:nth-child(3) {
                position: absolute;
                left: 1px;
                bottom: 25px;
                width: 8px;
                height: 58px;
            }
        }
    }
    &__text {
        align-self: flex-end;
        color: $headLineText;
        margin-left: 150px;
        font-size: calcFluidFontSize(13, 16, 300, 1440);;
        &_white {
            color: $white;
        }
    }
}