.quote {
    padding: 40vh 0 40vh 0;
    box-sizing: content-box;
    position: relative;
    background: url('../../../assets/img/team-bg.jpg') center (center/cover) no-repeat;
    overflow: hidden;    
    &__slider {
        display: block;
        width: 795px;
        height: 360px;
        margin: 0 auto;
    }
    .slider__indicators {
        bottom: -70px;
    }
}