.work {
    padding: 186px 2px 32px 2px;
    min-height: 1008px;
    overflow: hidden;
    &__wrapper {
        max-height: 1007px;
        padding-top: 157px;
        display: flex;
        justify-content: space-between;
        &:last-child {
            padding-top: 38px;
        }
    }
    &__block {
        max-height: 484px;
        margin-right: 2vw;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .work__button {
                opacity: 1;
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__info {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 386px;
        height: 100%;
        transform: translateX(-50%);
    }
    &__header {
        text-align: center;
        color: $workText;
        font-size: 48px;
        font-weight: 300;
    }
    &__subheader {
        font-size: 24px;
        color: $workText;
        font-weight: 400;
        text-align: center;
        margin-top: 35px;
    }
    &__button {
        display: block;
        margin: 0 auto;
        margin-top: 46px;
        width: 336px;
        height: 62px;
        border: 4px solid #333333;
        background-color: transparent;
        cursor: pointer;
        font-size: 30px;
        opacity: 0;
        transition: opacity .5s, border .1s, color .1s;
        outline: none;
        &:active {
            border: 4px solid $grey-light;
            color: $grey-light;
        }
    }
}