.faded {
    animation-name: faded;
    animation-duration: 1s;
}

@keyframes faded {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@keyframes nudgeMouse {
    0% { transform: translateY(0); }
    20% { transform: translateY(10px); }
    30% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    60% { transform: translateY(0); }
    80% { transform: translateY(10px); }
    90% { transform: translateY(0); }
}

$posTrackball: 12px;
$shrinkTrackball: 0.4;

@keyframes trackBallSlide {
    0% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    6% { 
      opacity: 1;
      transform: scale(0.9) translateY($posTrackball/4);
    }
    14% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    15%, 19% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    28%, 29.99% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    30% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    36% { 
      opacity: 1;
      transform: scale(0.9) translateY($posTrackball/4);
    }
    44% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    45%, 49% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    58%, 59.99% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    60% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
    66% { 
      opacity: 1;
      transform: scale(0.9) translateY($posTrackball/4);
    }
    74% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    75%, 79% {
      opacity: 0;
      transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    88%, 100% {
      opacity: 1;
      transform: scale(1) translateY(-$posTrackball);
    }
  }