.triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    &-white {
        left: 0;
        border-right-width: 0px;
        border-left-width: 100vw;
        border-bottom: 10vw solid white;
        z-index: 16;
    }
    &-blue {
        right: 0;
        top: -2px;
        border-top-width: 7.6vh;
        border-bottom-width: 3.8vw;
        border-right: 37vw solid #0cf;
        z-index: 20;
    }
    &-top {
        top: 0;
        transform: rotate(180deg);
    }
    &-grey {
        border-bottom: 20vh solid $grey-bg;
    }
}