$white: #ffffff;
$main-color: #00ccff;
$orange: #ff9900;
$grey : #666666;
$grey-light: #999999;
$section-about: #eaeaea;
$black-text: #333333;
$grey-bg: #f7f7f7;

$headLineText : #666666;
$headText : #666666;
$subtitleColor: #666666;
$titleColor: #666666;
$factsBlockColor: #fff;
$workText: #333333;