.tab {
    &__nav {
        padding-top: 92px;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &-item {
            width: 154px;
            height: 57px;
            transform: skew(-20deg);
            background-color: $section-about;
            margin-left: 1px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            color: $black-text;   
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .5s ease-in;
            &_active {
                background-color: $main-color;
                color: $white;
            }     
        }
    }
    &__content {
        position: relative;
        display: flex;
        padding-top: 108px;
        width: 100%;
        height: 365px;
        transition: .5s ease-in;
        &-block {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 42px;
            padding-bottom: 42px;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                width: 90%;
                height: 0px;
                border-bottom: 2px solid rgba($color: $grey-light, $alpha: .2);
                left: -1%;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                right: 8.5%;
                width: 0;
                height: 88%;
                top: 7%;
                border-left: 2px solid rgba($color: $grey-light, $alpha: .2);
            }
            &_left-border {
                &:after {
                    left: -7%;
                }
                &:before {
                    border-left: none;
                }
            }
            &:nth-last-child(1) {
                &:after {
                    border-bottom: none;
                }
            }
            &:hover {
               .tab__content-picture {
                    background-color: $main-color;
               }
            }
            
         }
        &-picture {
            width: 104px;
            height: 105px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: skew(-9deg);
            background-color: $section-about;
            transition: .9s;
            img {
                transform: skew(9deg);
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            padding-left: 25px;
        }
        &-title {
            color: $black-text;
            font-size: 20px;
            font-weight: 700;
        }
        &-text {
            padding-top: 11px;
            max-width: 285px;
            color: $grey-light;
            font-size: 16px;
            font-weight: 400;
        }
    }
}