.tab {
    box-sizing: content-box;
    &__nav {
        padding-top: 15vh;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &-item {
            width: 175px;
            height: 58px;
            transform: skew(-20deg);
            background-color: $section-about;
            margin-left: 1px;
            text-transform: uppercase;
            font-size: calcFluidFontSize(13, 20, 300, 1440);
            font-weight: 400;
            color: $black-text;   
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .5s ease-in;
            &_active {
                background-color: $main-color;
                color: $white;
            }     
        }
    }
    &__content {
        display: grid;
        grid-template: repeat(2, 177px) / repeat(2, 456px);
        padding-top: 13vh;
        transition: .5s ease-in;
        &-block {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 7vh;
            position: relative;
            &:not(:nth-last-child(-n+2)):after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                width: 90%;
                height: 0px;
                border-bottom: 2px solid rgba($color: $grey-light, $alpha: .2);
                left: 5%;
            }
            &:not(:nth-child(even)):before {
                content: "";
                display: block;
                position: absolute;
                right:0;
                width: 0;
                height: 80%;
                top: 7%;
                border-left: 2px solid rgba($color: $grey-light, $alpha: .2);
            }
            &:nth-child(3) {
                &:before {
                    top: unset;
                    bottom: 7%;
                }
            }
            &:hover {
               .tab__content-picture {
                    background-color: $main-color;
               }
            }
            
         }
        &-picture {
            width: 130px;
            height: 122px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: skew(-9deg);
            background-color: $section-about;
            transition: .9s;
            img {
                max-width: 80%;
                transform: skew(9deg);
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            padding-left: 2vw;
        }
        &-title {
            color: $black-text;
            font-size: calcFluidFontSize(13, 20, 300, 1440);
            font-weight: 700;
        }
        &-text {
            padding-top: 1.5vh;
            max-width: 285px;
            color: $grey-light;
            font-size: calcFluidFontSize(12, 16, 300, 1440);
            font-weight: 400;
        }
    }
}