.tab {
    &__nav {
        padding-top: 92px;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &-item {
            width: 154px;
            height: 57px;
            transform: skew(-20deg);
            background-color: $section-about;
            margin-left: 1px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            color: $black-text;   
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .5s ease-in;
            &_active {
                background-color: $main-color;
                color: $white;
            }     
        }
    }
    &__content {
        position: relative;
        padding-top: 108px;
        width: 941px;
        height: 365px;
        transition: .5s ease-in;
        &-block {
            position: relative;
            padding-top: 42px;
            display: flex;
            flex-direction: row;
            &:nth-child(1) {
                padding-top: 0;
                padding-bottom: 42px;
            }
            z-index: 10;
        }
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:nth-child(2) {
                padding-left: 71px;
            }
            &:hover {
               .tab__content-picture {
                    background-color: $main-color;
               }
            }
         }
        &-picture {
            width: 104px;
            height: 105px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: skew(-9deg);
            background-color: $section-about;
            transition: .9s;
            img {
                transform: skew(9deg);
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            padding-left: 25px;
        }
        &-title {
            color: $black-text;
            font-size: 20px;
            font-weight: 700;
        }
        &-text {
            padding-top: 11px;
            max-width: 285px;
            color: $grey-light;
            font-size: 16px;
            font-weight: 400;
        }
    }
    
}